* {
  color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  flex-direction: row;
  height: 80px;
  background-color: #222;
  border-bottom: 3px solid;
  margin-bottom: 20px;
  border-image: linear-gradient(
      90deg,
      rgb(204, 200, 193) 0%,
      rgb(228, 227, 219) 40%,
      rgb(235, 232, 209) 100%
    )
    1;
}

.brand {
  font-size: 30px;
  color: #6e6767;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: 'freight-big-pro';
  font-weight: normal;
  overflow-wrap: break-world;
}

.right-container {
  display: flex;
  width: 350px;
  justify-content: space-around;
  align-items: center;
}

.cart-image,
.avatar-image {
  height: 50px;
}

.btn {
  background-color: #ff6347;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 20px;
  transition: 0.5s all;
  color: #fff;
  font-weight: bold;
}

.btn:enabled {
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #a96814;
  background-color: #fc7f18;
}

.btn > a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  color: #9a8b88;
  margin-left: 5px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }

  .brand {
    font-size: 18px;
  }

  .right-container {
    width: 200px;
  }

  .btn {
    width: 60px;
    font-size: 10px;
  }

  .cart-image,
  .avatar-image {
    height: 35px;
  }

  .username {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header {
    height: 70px;
  }

  .brand {
    font-size: 20px;
  }

  .right-container {
    width: 300px;
  }

  .btn {
    width: 70px;
  }

  .cart-image,
  .avatar-image {
    height: 40px;
  }

  .username {
    font-size: 15px;
  }
}
