.footer {
  display: flex;
  height: 80px;
  background-color: #222;
  justify-content: center;
  align-items: center;
  border-top: 2px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-container {
  font-weight: 600;
  color: rgb(155, 11, 165);
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #2525a3;
}

.link:hover {
  color: #0000ff;
  text-decoration: underline;
}
